@model IEnumerable<BRPChurch.Models.ServiceWorship>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worship)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worship.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

