@{
    ViewData["Title"] = "Contact";
}
<body style='background: #202020'>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <hr/>
    <address>
        Suman Rai<br />
        Jørgensgård 86, Sønderborg, 6400<br />
        <abbr title="Phone">Phone:</abbr>
        +45 81947634
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:brpchurch@gmail.com">brpchurch@gmail.com</a><br />
        <strong>Church:</strong> <a href="mailto:sumnri@hotmail.com">sumnri@hotmail.com</a>
    </address>
    </body>
