
  
        <body style='background: #202020'>
     

        
        <h3>About The Church</h3>

            <p>
                Bhutanese Reformed Presbyterian Church consists of a small congregation, who have resettled in Sønderborg, Denmark since 2011.
                The church is primarily built on the reformed doctrines ("Sola Scriptura"). The main vision of the church is to have both verical and horizontal
                relationship. When it comes to vertical, it is primarily worshiping and glorifying God. Horizontal relationship
                comprises of having rlatiionship with each other. So the church highly welcomes all irrespective of their cultural,
                ethnical and religious background. The church believes that God´s grace is for all who would like to receive. It believes
                that is is by God´s grace alone, a human can be redeemed("Sola-Gratia")
        </p>
            <br />
        </body>
   

