@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please check the box at the bottom to confirm that you wish to become a member'); return false; }">

                <h4>Register for church membership.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthdate" class="control-label"></label>
                    <input asp-for="Birthdate" class="form-control" />
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostNo" class="control-label"></label>
                    <input asp-for="PostNo" class="form-control" />
                    <span asp-validation-for="PostNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNo" class="control-label"></label>
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Private" class="control-label"></label>
                    <input asp-for="Private" class="form-control" />
                    <span asp-validation-for="Private" class="text-danger"></span>
                </div>
                I wish to become a member of BRPChurch, and I allow the church to store my data for the church´s benifit.
                <input type="checkbox" name="checkbox" value="check" id="agree" />
                <button type="submit" class="btn btn-default">Register</button>
            </form>

        </div>
    </div>
    

