@using Microsoft.AspNetCore.Identity
@using BRPChurch.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <title>BrpChurch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/lib/bootstrap/dist/css/layout.css" rel="stylesheet" type="text/css" media="all">



</head>
<body id="top">
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################## -->
            <!-- <div id="logo" class="fl_left"> -->
            <center><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/NewLogo.png" /> </a> </center>
            <!--<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> -->
            <!--  <img src="~/LogoG.png" height="30" width="100" /> -->
            <!--</div> -->
            <div id="quickinfo" class="fl_right">
                <ul class="nospace"></ul>
            </div>

            <!-- ################################################################################################ -->
        </header>
        <hr />
    </div>


    <div class="wrapper row2">

        <nav id="mainav" class="hoc clear">

            <ul class="clear" style="width:1200px;">

                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>



                <li class="drop">
                    <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">

                        <li><a asp-area="" asp-controller="Home" asp-action="History">History</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Constitution">Constitution</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Youth">Youth Ministry</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Children">Children Ministry</a></li>

                    </ul>

                <li class="drop">
                    <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">
                        @if (User.IsInRole("Admin") || User.IsInRole("Treasurer") || User.IsInRole("Member"))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Media">Upload Pictures</a></li>
                        }
                        <li><a asp-area="" asp-controller="Home" asp-action="SlideShow">SlideShow</a></li>


                    </ul>
                </li>




                <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>

                <li class="drop">
                    <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">
                        @if (User.IsInRole("Admin"))
                        {
                            <li> <a asp-area="" asp-controller="ActivityTypes" asp-action="Index">Types </a> </li>
                        }
                        <!-- <li class="divider"></li> -->

                        <li> <a asp-area="" asp-controller="Activities" asp-action="Index">Details</a> </li>


                    </ul>


                    @if (SignInManager.IsSignedIn(User))
                    {
                    <li class="drop">
                        <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">

                            <li><a asp-area="" asp-controller="Members" asp-action="Index">Members List</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-area="" asp-controller="AspNetUserRoles" asp-action="Index">Roles</a></li>
                            }
                        </ul>
                    </li>}

                    @if (User.IsInRole("Admin") || User.IsInRole("Treasurer") || User.IsInRole("Member"))
                    {
                        <li class="drop">
                            <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">

                                <li> <a asp-area="" asp-controller="WorshipTypes" asp-action="Index">Song Type </a> </li>
                                <li> <a asp-area="" asp-controller="Worships" asp-action="Index">Songs</a> </li>

                                <li> <a asp-area="" asp-controller="Services" asp-action="Index">Service Roles</a> </li>



                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Treasurer") || User.IsInRole("Member"))
                    {
                        <li class="drop">
                            <a class="drop" href="#" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Finance<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropDownMenuLink">

                                <li><a asp-area="" asp-controller="FinanceEntries" asp-action="Index">Finance</a></li>


                                @if (User.IsInRole("Admin") || User.IsInRole("Treasurer"))
                                {

                                    <li><a asp-area="" asp-controller="FinanceTypes" asp-action="Index">Finance Type</a></li>

                                }
                            </ul>

                        </li>


                    }
                    @if (!User.IsInRole("Admin") && !User.IsInRole("Treasurer") && !User.IsInRole("Member"))
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>

                    }

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index">Profile</a> </li>

                        <li> <a asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">Logout</a></li>

                    }
                </ul>

                @await Html.PartialAsync("_LoginPartial")

            </nav>

        </div>

        <hr />

        @RenderBody()

        <br />
        <br />


        <footer class="footer">
            <p>
                <strong class="footer-bottom">
                    <i class="fa fa-copyright"></i><b>Copyright 2018. All rights reserved.</b>

                </strong>
            </p>

        </footer>

        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.backtotop.js"></script>
        <script src="~/js/jquery.mobilemenu.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        @RenderSection("Scripts", required: false)

    </body>
</html>
